#carrito__seccion{
    #carrito__contenedorTabla{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: white;
        border-radius: 5px;
        padding: 2rem;
        margin: 2rem;
        &:hover{
            box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.25);
        }
        table{
            tr{
                td{
                    padding: 1rem 0 1rem 0;
                    border-bottom: solid 1px rgb(150, 150, 150);
                    h2{
                        font-size: 1.3rem;
                        margin: 0 1rem 0 1rem;
                    }
                    img{
                        width: 3rem;
                        margin: 0 1rem 0 1rem;
                    }
                    p{
                        margin: 0 1rem 0 1rem;
                    }
                    .agregarYQuitar{
                        margin: 0 0.2rem 0 0;
                        width: 1rem;
                    }
                }
            }
        }
        #carrito__total{
            margin-top: 1rem;
            .botonCarrito{
                margin-top: 0.5rem;
            }
        }
    }
    
}